
<div class="container abs-center">
    <div class="row">
      <div class="col-md-8">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
              <strong >Componente Usuarios: </strong>
              <hr>
              <p>Hola soy: "{{name}}" y soy un input</p>
              <button class="btn btn-outline-success mt-3" (click)="changeSurname('Pepe')">Enviar output</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>